!\ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___ 
! \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
! /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
!/_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/
!                                                  

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt.secondaryWheel: 1

URxvt.letterSpace: -1

Xcursor.theme: Breeze-Hacked
Xcursor.size: 16

URxvt.font: xft:DejaVu Sans Mono:size=11:antialias=true

!URxvt.font: xft:Source\ Code\ Pro\ for\ Powerline:pixelsize=14,xft:PowerlineSymbols
!urxvt*font: xft:Terminus:pixelsize=11,xft:Inconsolata\ for\ Powerline:pixelsize=12
!urxvt.font: xft:DejaVu Sans Mono:pixelsize=14:antialias=true,xft:Inconsolata\ for\ Powerline:pixelsize=14:antialias=true

!URxvt.background: [80]#06060a
URxvt*scrollBar:                      false
URxvt*mouseWheelScrollPage:           false
URxvt*cursorBlink:                    true
URxvt*background:                     black
URxvt*saveLines:                      5000

! for 'fake' transparency (without Compton) uncomment the following three lines
!URxvt*inheritPixmap:                  true
!URxvt*transparent:                    true
!URxvt*shading:                        20 

URxvt*buffered: false
URxvt.perl-ext-common:  ...,font-size

/* Key binding */
/* New shell from current directory */
URxvt.keysym.Shift-Control-N: /home/lanaya/Documents/Script/shellFromHere.sh urxvt\n
URxvt.keysym.Shift-Control-M: /home/lanaya/Documents/Script/shellFromHere.sh alacritty\n

/* Setting working directory */
URxvt.keysym.Shift-Control-Return: urxvt_workingDir.sh set\n

/* Disable control + shift */
URxvt.iso14755: false
URxvt.iso14755_52: false

!*background:  #1a1e2e
!*foreground:  #cdd3df
!*color0:  #1a1e24
!*color1:  #252b33
!*color2:  #252a34
!*color3:  #3b4453
!*color4:  #505964
!*color5:  #cdd3df
!*color6:  #dae0ed
!*color7:  #cfcfcf
!*color8:  #ee6165
!*color9:  #fb924c
!*color10:  #fac751
!*color11:  #91b859
!*color12:  #5bb3b4
!*color13:  #6398cf
!*color14:  #c28aa3
!*coler15:  #926b3e

!DPI of X server
Xft.dpi:87

! handle Meta (Alt) + keypress to set the 8th bit
! causes different key with alt key
! URxvt.meta8: true

!XTERM CONFIG
XTerm*faceName: Bitstream Vera Serif Mono
xterm*faceSize: 11
xterm*vt100*geometry: 80x60
xterm*saveLines: 16384
xterm*loginShell: true
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-color
xterm*eightBitInput: false

!BLK Cursor
#define _color0        #000d18
#define _color8        #000d18
!RED Tag
#define _color1        #e89393
#define _color9        #e89393
!GRN SpecialKey
#define _color2        #9ece9e
#define _color10       #9ece9e
!YEL Keyword
#define _color3        #f0dfaf
#define _color11       #f0dfaf
!BLU Number
#define _color4        #8cd0d3
#define _color12       #8cd0d3
!MAG Precondit
#define _color5        #c0bed1
#define _color13       #c0bed1
!CYN Float
#define _color6        #dfaf8f
#define _color14       #dfaf8f
!WHT Search
#define _color7        #efefef
#define _color15       #efefef
!FMT Include, StatusLine, ErrorMsg
#define _colorBD       #ffcfaf
#define _colorUL       #ccdc90
#define _colorIT       #80d4aa
!TXT Normal, Normal, Cursor
#define _foreground    #dcdccc
#define _background    #1f1f1f
#define _cursorColor   #8faf9f
XTerm*color0         : _color0
XTerm*color1         : _color1
XTerm*color2         : _color2
XTerm*color3         : _color3
XTerm*color4         : _color4
XTerm*color5         : _color5
XTerm*color6         : _color6
XTerm*color7         : _color7
XTerm*color8         : _color8
XTerm*color9         : _color9
XTerm*color10        : _color10
XTerm*color11        : _color11
XTerm*color12        : _color12
XTerm*color13        : _color13
XTerm*color14        : _color14
XTerm*color15        : _color15
XTerm*colorBD        : _colorBD
XTerm*colorIT        : _colorIT
XTerm*colorUL        : _colorUL
XTerm*foreground     : _foreground
XTerm*background     : _background
XTerm*cursorColor    : _cursorColor
